@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #102326;
}

.heading {
  font-family: "Six Caps", sans-serif;
}

.menu-font {
  font-family: "Petit Formal Script", cursive;
}
